header {
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff; 
    font-weight: bold;
    width: 100%;
    height: auto;
    text-align: center;
}
body {
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}