header {
    background-color: rgba(109, 109, 109, 0.5);
    font-weight: bold;
    width: 100%;
    height: auto;
    min-height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border: 10px outset black;
}
footer {
    background-color:rgba(0, 0, 0, 04)
}