header {
    background-color: rgb(5, 5, 5);
    font-weight: bold;
    width: 100%;
    max-width:100%;
    height: auto;
    min-height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid black;
    margin: 0;
}
header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}
footer {
    background-color:rgba(0, 0, 0, 04);
    font-weight: bold;
    width: 100%;
    height: auto;
    min-height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
